<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}">
    <head>
        <meta charset="UTF-8" />
        <title>Hello Thymeleaf</title>
    </head>
    <body>
        <h1 th:text="hogehoge"></h1>
        <h1 th:text="${message}"></h1>
        <h1 th:text="#{hello('fugafuga')}"></h1>
        <h1 th:text="#{hello(${name})}"></h1>
        <form method="get">
          <select name="lang" onchange="submit(this.form)">
            <option th:value="ja" th:selected="${lang=='ja'}">日本語</option>
            <option th:value="en" th:selected="${lang=='en'}">English</option>
          </select>
        </form>
    </body>
</html>
