<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello Thymeleaf</title>
        <script type="text/javascript" src="/js/vendor.bundle.js" th:src="@{/js/vendor.bundle.js}"></script>
        <script type="text/javascript" src="/js/i18next.bundle.js" th:src="@{/js/i18next.bundle.js}"></script>
        <script type="text/javascript" src="/js/hello.bundle.js" th:src="@{/js/hello.bundle.js}" defer></script>
    </head>
    <body>
        <a href="/link">戻る</a><br/>
        <h1>messages.propertiesからの呼び出しテスト</h1>
        <p th:text="hogehoge"></p>
        <p th:text="${message}"></p>
        <p th:text="#{hello('fugafuga')}"></p>
        <p th:text="#{hello(${name})}"></p>
        <h1>言語切替フォームテスト</h1>
        <form method="get">
            <select name="lang" onchange="submit(this.form)">
                <option th:each="sl:${supportLanguageMap}" th:value=${sl.key} th:selected="${#locale.language==sl.key}">[[${sl.value}]]</option>
                <!--/* selectedの部分要調整 */-->
            </select>
            <input type="hidden" name="hotelCode" th:value=${param.hotelCode}>
        </form>
        <h1>i18nextテスト</h1>
        <input type="button" id="hello1" value="click1" />
        <input type="button" id="hello2" value="click2" onclick="hello2();" />
        <input type="button" id="hello3" value="click3" onclick="hello3();" />
        <h1>vueテスト + vue-i18nextテスト</h1>
        <div id="vue">
          <p v-text="$t('helloVue')"></p>
          <p v-text="$t('helloTo', {name: 'world'})"></p>
          <input type="text" v-model="message">
          <p v-text="message"></p>
          <component-test></component-test>
        </div>
    </body>
</html>
